{% extends 'base.html.twig' %}

{% block title %}
    Homepage
{% endblock %}

{% block body %}
	<header class="bg-gradient-to-r from-violet-100 via-slate-100 to-indigo-100 py-5 md:py-16">
		<div class="px-4 sm:max-w-screen-sm md:max-w-screen-lg mx-auto">
			<h1 class="text-4xl md:text-5xl font-bold">Stop wasting time on Google search</h1>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque tenetur quibusdam maxime quaerat odit soluta doloremque, voluptate adipisci pariatur, quae eos dolor ratione voluptatibus architecto laborum? Distinctio et fugit iusto!</p>
		</div>
	</header>
	<main class="max-w-screen-lg mx-auto py-5 md:py-16 px-4">
		<h3 class="text-violet-950">
			{{ ux_icon('mdi:calendar', { 'class': 'h-5 w-5 text-violet-950 mr-1 inline-block' }) }}
			Recent notes
		</h3>
		<p class="mb-4">There are curently {{ totalNotes }} notes shared on CodeXpress</p>
		{{ include('components/notes-list.html.twig') }}
		{{ include('components/cta.html.twig') }}
	</main>
{% endblock %}
