<footer class="flex justify-between items-center bg-slate-50 p-3 text-slate-600 text-base">
	<p class="">&copy; CodeXpress by <a href="https://github.com/jensone" class="text-violet-950">Jensone</a></p>
	<p class="px-2 py-1 rounded-md text-white bg-slate-800">{{ 'now'|date('Y') }}</p>
</footer>
