<table>
    <th align="center">
        <img src="https://raw.githubusercontent.com/Jensone/codexpress-sf/24bc5635f45130bf05f7099b42f572b4c30b5222/public/img/logo_dark.svg" alt="CodeXpress" width="100">
    </th>
    <tbody>
        {% block body %}{% endblock %}
    </tbody>
</table>